.Header {
    display: flex;
    justify-content: space-between;
}

.Header .auth-buttons {
    display: flex;
    gap: 10px;
}

.Header .username-select {
    position: fixed;
    left: 50%;
    top: 25%;
    background-color: green;
    min-width: 20%;
    min-height: 20%;
    transform: translate(-50%, 0);
}