.Timeline {
    height: 100%;
}

.Timeline .Drawing {
    width: 400px;    
}


@media only screen and (max-width: 600px) { 
    .Timeline {
        width: 100%;
    }
    .Timeline .Drawing {
        width: 90%;
    }
}