.Timeline {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Timeline .Canvas {
    width: 400px;    
}


@media only screen and (max-width: 600px) { 
    .Timeline Canvas {
        width: 90vw;
    }
}